{% extends 'books/base.html' %}
{% block title %}{{ user.username }}{% endblock title %}
{% block content %}
<h1><p align="center" style="font-size:30px"> Личный кабинет пользователя {{ user.email }}</p></h1>
<div class="container-profile">
    <div class="profile">
        <h2><p align="left" style="font-size:20px">Заполните информацию о себе, чтобы получить доступ к персональным скидкам</p></h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        <hr>
            <button type="submit" class="save-form">Сохранить</button>
        </form>
    </div>
</div>
{% if basket %}
{% include 'users/basket.html' %}
{% endif %}
{% if order %}
{% include 'users/profileorder.html' %}
{% endif %}
{% endblock content %}