{% extends 'books/base.html' %}
{% block title %}Оформление заказа{% endblock title %}
{% block content %}
<h1><p align="center" style="font-size:30px"> Заказ для {{ user.username }}</p></h1>
<div class="container-profile">
        <p align="right" style="font-size:20px">Товаров: {{ basket.total_amount }}</p>
        <hr>
    {% for b in basket %}
        <p><a href="{{ b.book.get_absolute_url }}">{{ b.book.title }}</a></p><p align="right"> {{ b.sum }} р.</p>
        <p>В заказе {{ b.amount }} <a href="{% url 'add_basket' b.book_id %}">Добавить </a><a href="{% url 'delete_basket' b.book_id %}">Удалить</a></p>
        {% if b.book.amount == 0 %} <p style="color:red; font-weight:bolder;">Нет в наличии</p>
        {% elif b.book.amount < 4 %} <p style="color:red; font-weight:bolder;">Товар скоро закончится! Осталось: {{ b.book.amount }}</p>{% endif %}
        <br />
        <hr />
    {% endfor %}
        <hr>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        <hr>
            <button type="submit" class="save-form">Сохранить</button>
</div>

{% endblock content %}

