{% extends 'books/base.html' %}
{% block title %}Добавить книгу{% endblock title %}
{% block content %}
<h2><p align="center" style="font-size:30px">Здесь вы можете пополнить запас книг в магазине :)</p></h2>
{% if response %}{{ response }}{% endif %}
<br />
<form method="post" action="" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <table>
    <div>
        {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors %}
            {% for er in field.errors %}
            <div class="error">{{er}}</div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    </table>
    <br />
    <input type="submit" value="Отправить">
</form>
{% endblock content %}